/* GENERAL */

.container-fluid {
	padding: 1px !important;
}

.well {
	background-color: #F5F5F5 !important;
	border-style: none !important;
  }

.row {
	margin-left: 0% !important;
	margin-right: 0% !important;
	margin-bottom: -5% !important;
	text-align: -webkit-center;
}

.col-sm-4 {
	padding:0%;
	width:100% !important;

}

/* Text paragraphs */
 hr {
	border-top: 1px solid #E1E1E1;
	margin-bottom: 10% !important;
	margin-top: 10% !important;
}

h1{

}


h2{
	font-size:14px;
	font-weight: bold;
	color: #000;
	position: absolute;
	margin-top: 2%;	
	right: 2%;
	z-index: 998;
}

h1{
	font-size:12px;
	font-weight: bold;
	color: #000;
	position: absolute;
	margin-top: 5%;	
	right: 2%;
	z-index: 998;
}

h4 {
	font-size:14px;
	font-weight: bold;
	margin-bottom: 0.8em ;
}

h5 {
	font-size:12px;
	font-weight: bold;
	margin-bottom: 0.6em ;
}

h6 {
	font-size: 10px;
	font-style: italic;
	margin-top: 0.6em ;
	margin-bottom: 0em;
	padding-bottom: 0em;
}

/* NAVIGATION BAR */

.navbar {
	background-color: #FFFFFF;
	margin-bottom: 0px !important
}
 
.navbar-default {
	background-color: #FFFFFF !important;
	border-color: #E7E7E7 !important;
}
  
.navbar-brand {
	font-style: normal;
	font-size: 25px;
	font-weight: bold;
}

.navbar-header {
	margin-left: 20px !important;
}
  
 /* Menu elements */
.navbar-nav {
	background-color: #FFFFFF !important;
	float: right;
	padding-right:3%;
}
  
.navbar-default .navbar-nav > .active > a {
	font-weight: bold;
	background-color: #FFFFFF !important;
	margin-bottom: -3%;
	border-bottom: 3px solid black;
}

/* PARAMETERS */

.parameters {
	background-color: #F5F5F5 !important;
	border-style: none !important;
 }
  
/* Dropwdowns */
.selectize-input { 
	height: 70% !important;
	font-size: 12px !important; 
	padding: 5px !important;
	margin: 1px !important;
	margin-bottom: -2% !important;
	height: 70% !important;
	line-height: 70% !important;
	min-height: 0.9px !important;
}

.selectize-dropdown {
	font-size: 12px !important; 
}

.selectize-dropdown-content {
	padding: 1px !important;
	margin: 1px !important;
}

/* Slider */
.irs {
	margin-top: -6%;
	margin-bottom: -4%;	
}

.irs-from, .irs-to { 
	display: none;
	color: black; 
	background: transparent 
}

/* NOTIFICATIONS */

.messages {
	background-color: #E9E9E9 !important;
	font-size: 70%;
	color: #A6A6A6;
	font-style: italic;
	text-align: left;
	padding: 0.6%;
	padding-left: 1% !important;
}

/* MAP */

#map{
	border-radius: 10px !important;
	position: absolute;
	z-index: 100;
}
  
#map:before {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	z-index: 100;
}

/* EXPLORE */

/* Valuebox */
.small-box {
	padding-top: 1% !important;
	padding-bottom: 0% !important;
	border-radius: 5px !important;
	}

.small-box > .inner {
	padding: 2% !important;
	padding-left: 2% !important;
	margin-left: 1% !important;
	text-align: -webkit-left;
}

.shiny-split-layout {
	margin-top: 1% !important;
	margin-bottom: 0%;
	overflow: visible !important;
	width: 90% !important;
}

/* Icons */
.fa {
	font-size: 50% !important;
	color:#f1f1f1;
	opacity:0.6;
}

#KPI1{
	overflow: hidden !important;
}

#KPI2{
	overflow: hidden !important;
}

/* Plot */
#past{
	border-radius: 8px !important;
	padding-top: 0.5% !important;
	padding-left: 0.5% !important;
	padding-right: 0.5% !important;
	margin: 0% !important;
}


/* PREDICT */

#future {
	border-radius: 8px !important;
	text-align: center !important;
	padding-top: 0% !important;
	background-color: rgba(255,255,255,0);
}

#prediction_plot {
	margin: 1.5% !important;
}

/* PROJECT */

#project {
	border-radius: 8px !important;
	text-align: center !important;
	padding: 5% !important;
	background-color: #FAFAFA;
}

/* DATA */

#data {
	border-radius: 8px !important;
	text-align: center !important;
	padding: 5% !important;
	background-color: #FAFAFA;
}